<div id='msgList' class='row'>
</div>

<div class='row form-group'>
  <div class='col-md-3'>
    <input type='text' id='usrname' class='form-control' placeholder='UserName' />
  </div>
  <div class='col-md-9'>
    <input type='text' id='msg' class='form-control' placeholder='Message' />
  </div>
</div>